body, body *  {
  box-sizing: border-box;
}

body {
  font-size: 16px;
}


.center-screen {
  text-align: center;
  font-size: 1rem;
  // max-width: 400px;

  padding-top: 24px;
  display: flex;
  // border: 2px solid blue;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.halfScreen {
  min-width: 300px;
  max-width: 45%;
}

.Letter {
  margin: 0 0.75%;
  text-align: center;
  border: 1px solid #2196f3;
  border-radius: 10px;
  padding: 0.5rem 0.5rem;
  flex: 1 1 35px;
  font-size: 1.5rem;
}

.Alphabet {
  display: flex;
  flex-flow: column wrap;
  line-height: 1rem;
  padding-bottom: 36px;
}

.Alphabet_row {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row;
  padding: 0.2rem 0.3rem;
  margin: 1px;
}

.Canvas {
  border: 1px solid #000000;
  width: 150px;
  height: 150px;
}

.WordDisplay {
  font-size: 2rem;
  letter-spacing: 0.4rem;
  padding: 0.2rem 0.3rem;
  margin: 1px;
}

/*====MAIN-2 */

.rightElementsPadding > * {
  /* top-bottom right-left */
  padding: 15px 0;
}

.game-mode {
  font-size: 0.8rem;
}

.game-mode > label {
  font-size: 0.7rem;
}

#new-word-b {
  background-color: greenyellow;
  border-radius: 10px;
  color: black;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 0.8rem;
}

#remaining-trials {
  margin: 0 auto;
}

#params {
  display: flex;
  // flex-direction: row;
  text-align: center;
  min-height: 5vh;
  font-size: 0.6rem;
  max-width: 600px;
  justify-content: space-evenly;
}

#params > div {
  display: flex;
  flex-direction: column;
}

#params label {
  margin-bottom: 0.2rem;
}

.definitions {
  text-align: start;
  padding-top: 25px;
}

.definitions > * {
  margin: 0;
  margin-bottom: 10px;
  font-size: 2rem;
}

.definitions .box {}
.definitions .defined {
  font-size: 1.2rem;
}

section#params > div > * {
  /* label and div */
  font-size: 0.7rem;
}

.letterIsInWord {
  background-color: greenyellow;
}

.letterNotInWord {
  background-color: red;
}
